body{
  margin: 0;
  padding:0;
  font-size:13px;
  font-family:Arial, Helvetica, sans-serif;
}
/* this will remove the underline to all a items and will set the cursor as pointer  */
a{
  text-decoration: none;
  cursor: pointer;
  color:black;

  
}
header{
  width:100%;
  height: 60px;
  

}
header nav{
  display:flex;
  justify-content: flex-end;

}
/* 
.menu ul{
  list-style-type: disc;
  
}
.menu ul li{
  display:inline;
  
}*/
/* .menu a{
  text-decoration: none;
  color:black; 
}  */
header nav .nav-right-section{
  width: 250px;
  height:auto; /*will take the same height as is parent. in this case will be 60px(header)*/
  display:flex;
  list-style: none;
  justify-content: center;
  align-items: center;
   
}
nav .nav-right-section a{
  margin-right: 15px;
  
  color:black;
}
nav .nav-right-section .menu-icon{
  
  background-image: url("https://static.thenounproject.com/png/198752-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:15px;
  height:15px;
  
  /* border:1px solid red; */
}
nav .nav-right-section .img-user{
  border-radius: 50%;
  margin-left:25px;
}
main{
  margin-top:150px;
  text-align:center;
  width: 100%;
}
main .main-logo{
  width:530px;
  margin:0 auto;
  margin-bottom: 35px;
}
main .main-logo img{
width:272px;
height:92px;
}
main .main-input{
  width:530px;
  
  margin: 0 auto;
  margin-bottom:35px;
}
main .main-input-container{
  width:525px;
  border-radius: 100px;
  border:1px solid #dfe1e5;
  display:flex;
  justify-content: center;
  align-items: center;
}
main .main-input-container input{
  width: 450px;
  border:none;
  outline:none;
  height: 40px;
}
/* when you pass the mouse over the item it will change */
main .main-input-container:hover{
  box-shadow: 0 1px 6px 0 #20212447;
  border-color:#dfe1e500
}
main .main-input .search-icon{
background-image: url("https://img.icons8.com/android/24/000000/search.png");
background-repeat:no-repeat;
background-position: center;
background-size: contain;
width:18px;
height:18px;

}
main .main-input .micro-icon{
  background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:18px;
  height:18px;
  cursor:pointer;
}
main .main-buttons{
  margin: 0 auto;
  display: flex;
  width:525px;
  height:40px;
  justify-content: center;
  
  /* border: 1px solid black; */
  }
main .main-buttons button{
  border:none;
  padding:0 15px 0 15px;
  height:36px;
  background-color: #F8F9FA;
  margin-left:10px;
  border-radius: 5px;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 14px;
  color:black;
  

}
main .main-buttons button:hover{
  /* box-shadow: 0 1px 6px 0 #20212447; */
  border:1px solid #c6c6c6;
  
}
/* footer{
  
  
} */
footer nav{
  /* border:1px solid red; */
  /* position: absolute;
  bottom: 0; */
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  font-size: 1.1em;
  color: rgb(160, 156, 156);
  width:100%;



}
footer .footer-left ul{
  display:flex;
  list-style: none;
  padding-left: 0;
  }

footer .footer-left ul li a{
  color: rgb(160, 156, 156);
  margin-left: 15px;
}
footer .footer-central {
  text-transform: capitalize;
  /* display:flex; */
}
footer .footer-central{
  display: flex;
  
  align-items: center;
}
footer .footer-central-image {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAMAAAAiV0Z6AAAAPFBMVEVLoEN0wU6CzFKCzFKCzFKCzFKCzFJSo0MSczNDmkCCzFJPoUMTczNdr0gmgziCzFITczMTczMTczMTczPh00jOAAAAFHRSTlPF/+bIsms8Ad///hX+//5/tXw7aMEAx10AAACaSURBVHgBbc4HDoRQCATQ33tbvf9dF9QxaCT9UQaltLHOh/golXKhMs5Xqa0xU1lyoa2fXFyQOsDG38qsLy4TaV+sFislovyhPzLJJrBu6eQOtpW0LjbJkzTuTDLRVNKa3uxJI+VdiRqXSeu6GW+Qxi29eLIi8H7EsYrT42BD+mQtNO5JMjRuC4lSY8V4hsLX0egGijvUSEP9AbylEsOkeCgWAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width:15px;
  height:15px;
 
}
footer .footer-right ul{
  display:flex;
  list-style: none;
  
  
  }
  footer .footer-right ul li a{  
      margin-right: 15px;
      color: rgb(160, 156, 156);
      
  }
footer .country{
    
    padding-left:15px;
    
    color: rgb(160, 156, 156);
    background-color:#f2f2f2;
    border-bottom:1px solid #dadce0;
    border-top:1px solid #dadce0;
   
  }
  
  footer{
width:100%;
position: absolute;
bottom: 0;
  }